/* CSS Reset */
/* #navbar {
    display: flex;
    list-style: none;
}
*/
#navbar ul{
    display: flex;
    list-style: none;
}/*
#navbar ul li a{
    display: flex;
    list-style: none;
    text-decoration: none;
}

#logo{
    margin: 23px 20px;
}*/
img{
    margin: 10px;
    width: 100px;
    height: 100px;
} 